<!---Implementando formulário de login em Angular-->

<div class="tela-login">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
        <h1 class="nome-login">Login</h1>
        <br><br>
        <label for="email">Email</label>
        <input  type="emmail" id="email" name="email" [(ngModel)]="userModel.email">
        <br><br>
        <label for="senha">senha:</label>
        <input   type="password" id="senha" name="senha" [(ngModel)]="userModel.senha">
           <br><br>
           <button class="login-enviar" type="submit">Enviar</button>
           <a href="#">
            <p class="cadastrar">Cadastre-se</p>
        </a>

    </form>
</div>

















